$body_bgcolor: #F3F9FF
$footer_bgcolor: white
$enable-btn: #18D47C
$disable-btn: black
  
body
  margin: 0px
  background-color: $body_bgcolor
  min-width: 411px
  font-family: Gill Sans, sans-serif
  min-height: 100%

.online-info
  height: 100%
  margin: 10px auto

main
  margin: 0 10px 70px 10px
  min-height: 100%

.mode
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto

.content
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: center
  align-content: center
  margin: 10px auto
  min-height: 100%

footer
  position: fixed
  left: 0
  bottom: 0
  width: 100%
  margin: 0
  display: flex
  align-items: center
  justify-content: space-around
  height: 70px
  background-color: $footer_bgcolor

.audioMessage
  margin-top: 15px

.btn
  display: block
  margin: 10px auto
  padding: 10px 10px
  border-radius: 50%
  border: none
  text-align: center
  text-decoration: none
  align-self: center
  &-rec
    background-color: green
  &-stop
    background-color: blue

.enable
  color: $enable-btn

.disable
  color: $disable-btn

.menu-item
  display: flex
  align-items: center
  justify-content: space-around
  img
    display: block
    margin-left: auto
    margin-right: auto
    height: 40px
    width: 40px
  .menu-item-name
    display: block
    margin-left: auto
    margin-right: auto
