body
  margin: 0px
  background-color: #F3F9FF
main
  margin: 0 10px 70px 10px
  min-height: calc(100vh - 70px)

footer
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0
  display: flex
  align-items: center
  justify-content: space-around
  height: 70px
  background-color: #ffffff



.menu-item
  display: flex
  align-items: center
  justify-content: space-around
  img
    display: block
    margin-left: auto
    margin-right: auto
    height: 40px
    width: 40px
  .menu-item-name
    display: block
    margin-left: auto
    margin-right: auto
